@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@600&family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}
:root {
  --primary-color: #f6f2eb;
  --secondary-color: #fec887;
}

