@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@600&family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}
:root {
  --primary-color: #f6f2eb;
  --secondary-color: #fec887;
}

.header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  height: 9vh;
  position: fixed;
  top: 0;
  bottom: 0;
  margin-right: 0px;
}

.header-first {
  display: flex;
  align-items: center;
  flex: 1;
  background-color: var(--primary-color);
}

.header-first ul {
  display: flex;
  width: 50vw;
  justify-content: space-between;
}

.header-first ul li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}
.header-first ul li a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  margin: 0px 10px;
  color: #000000;
  font-weight: bold;
  background-color: var(--primary-color);
}
.header-first ul li img {
  height: 65px;
  width: 100px;
  background-color: transparent;
}
.header-second {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  background-color: var(--primary-color);
}

.button-control {
  background-color: var(--secondary-color);

  height: 30px;
  width: 100px;
  margin: 0px 15px;
  border: none;
  border-radius: 7px;
}

.button-control a {
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

.fa-house {
  margin-left: 15px;
  font-size: 1.5rem;
  color: rgb(90, 79, 79);
}

.pfp-container {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: red;
}

.pfp-container > img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0px;
}

.main-container {
  background-color: var(--primary-color);
  height: 500px;
  border-radius: 5%;
  width: 900px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-sec {
  height: 400px;
  width: 400px;
}

.image-sec > img {
  border-radius: 10%;
  height: inherit;
  width: inherit;
}

.card-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  width: 300px;
  /* margin: 30px; */
}

.card-desc > button {
  align-self: flex-end;
  background-color: var(--secondary-color);
  height: 50px;
  width: 100px;
  margin: 0px 15px;
  border: none;
  border-radius: 7px;
}

.card-desc > button > a {
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

aside {
  background-color: var(--primary-color);
  height: 100%;
  width: 20vw;
  top: 9vh;
  right: 0;
  z-index: -1;
  position: fixed;
}

.aside-container {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: yellow; */
}
.dp-container {
  /* background-color: red; */
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.profile-info {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  width: inherit;
  justify-content: center;
  align-items: center;
  height: 100px;
}

#profilepic {
  height: 200px;
  width: 200px;
}

button {
  color: black;
  background-color: var(--secondary-color);
  height: 35px;
  width: 52%;
  border-radius: 10px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}
button > a {
  text-decoration: none;
  color: #000000;
}

#trash {
  width: 50px;
}
.btn-container {
  display: flex;
  justify-content: space-evenly;
}

.username {
  font-size: large;
  margin-left: 10px;
}
