@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@600&family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}
:root {
  --primary-color: #f6f2eb;
  --secondary-color: #fec887;
}

.header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  height: 9vh;
  position: fixed;
  top: 0;
  bottom: 0;
}

.header-first {
  display: flex;
  align-items: center;
  flex: 1;
  background-color: var(--primary-color);
}

.header-first ul {
  display: flex;
  width: 50vw;
  justify-content: space-between;
}

.header-first ul li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}
.teko-font{
  font-family: teko;
  font-weight: lighter;
}
.feedtitle{
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items:center;
}

.nav-blank{
   height: 8vh;
}
.lighter-font{
  font-size: 0.9em;
  font-weight: lighter;
  color: rgb(87, 84, 84);
}
.header-first ul li a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  margin: 0px 10px;
  color: #000000;
  font-weight: bold;
  background-color: var(--primary-color);
}
.header-first ul li img {
  height: 65px;
  width: 100px;
  background-color: transparent;
}
.header-second {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  background-color: var(--primary-color);
}

.button-control {
  background-color: var(--secondary-color);

  height: 30px;
  width: 100px;
  margin: 0px 15px;
  border: none;
  border-radius: 7px;
}

.button-control a {
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

.fa-house {
  margin-left: 15px;
  font-size: 1.5rem;
  color: rgb(90, 79, 79);
}

.pfp-container {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: red;
}

.pfp-container > img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.containerTry{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.maincontainerTry{
    height: 800px;
    width: 700px;
    border: 1px solid red;
    background-color:var(--primary-color) ;
}
.imagedesc{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.recipe-inf{
    height: 260px;
    background-color: green;
}
.scroll-content{
    width: inherit;
    height: inherit;
    overflow:hidden;
    overflow-y:scroll;
  }
  .para-scroll{
    font-size : 15px;
    padding:20px;
  }
  .comments{
    display: flex;
    justify-content: space-between;
    padding: 4vh;
    width: inherit;
    height:inherit;
    background-color: red;
  }
  .comment-read{
    width: 50%;
    border: 1px solid green;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
   
